body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

.layoutMain {
    width: 100%;
    height: 100%;
    background-color: indianred;
}

.layoutHeader {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 80px;
    overflow: hidden;
    width: 100%;
    background-color: darkslategrey;
    display: flex;
    justify-content: center;
    font-family: 'Tempus Sans ITC';
}

.layoutRoutes {
    position: absolute;
    top: 80px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: auto !important;
}

.layoutFooter {
    position: absolute;
    bottom: 0px;
    height: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#root {
    height: 100%;
}

.home-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: coral;
}

.header-photo {
    width: 100%;
}


.option-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    padding: 24px;
    justify-content: center;
}

.sort-by-dropdown {
    position: relative;
    display: inline-block;
}

.sort-label {
    position: relative;
    left: 28px;
    cursor: pointer;
    display: inherit;
}

.dropdown-button {
    cursor: pointer;
    background-color: #3498DB;
    padding-bottom: 16px;
    padding-top: 16px;
    padding-left: 28px;
    padding-right: 28px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 16px;
}

.dropdown-content {
    display: inherit;
    position: absolute;
    background-color: #F1F1F1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content text {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content text:hover {
    background-color: #7A7A7A;
    color: white;
}

.car-show {
    display: grid;
    overflow-wrap: break-word;
    grid-template-columns: inherit;
    grid-auto-rows: minmax(100px, auto);
    width: 95%;
    background-color: inherit;
}

.card {
    display: flex;
    flex: 1;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 8px;
    text-align: center;
    font-family: Arial;
    background-color: cadetblue;
    border-radius: 8px;
}

.card-content {
    background-color: darkred;
    flex: 1;
    padding-bottom: 4px;
}

.card-img {
    flex: 4;
    background-color: dimgray;
}

.unavailable-button {
    background-color: #850000;
    color: white;
    font-family: Arial;
    width: 50%;
    border-radius: 8px;
    border-color: black;
    padding-top: 4px; 
    padding-bottom: 4px;
    transition-duration: 0.5s;
}

.unavailable-button:hover {
    background-color: #530000;
    cursor: pointer;
}

.available-button {
    background-color: #3A8500;
    color: white;
    font-family: Arial;
    width: 50%;
    border-radius: 8px;
    border-color: black;
    padding-top: 4px;
    padding-bottom: 4px;
    transition-duration: 0.5s;
}

.available-button:hover {
    background-color: #214B00;
    cursor: pointer;
}

.out-of-stock-button {
    background-color: #7A7A7A;
    color: white;
    font-family: Arial;
    width: 50%;
    border-radius: 8px;
    border-color: black;
    padding-top: 4px;
    padding-bottom: 4px;
    transition-duration: 0.5s;
}

.out-of-stock-button:hover {
    background-color: #414141;
    cursor: pointer;
}