body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

.layoutMain {
    width: 100%;
    height: 100%;
    background-color: indianred;
}

.layoutHeader {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 80px;
    overflow: hidden;
    width: 100%;
    background-color: darkslategrey;
    display: flex;
    justify-content: center;
    font-family: 'Tempus Sans ITC';
}

.layoutRoutes {
    position: absolute;
    top: 80px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: auto !important;
}

.layoutFooter {
    position: absolute;
    bottom: 0px;
    height: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#root {
    height: 100%;
}


.home-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: coral;
}

.header-photo {
    width: 100%;
}


.option-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    padding: 24px;
    justify-content: center;
}

/*Customized checkbox from https://www.w3schools.com/howto/howto_css_custom_checkbox.asp*/
.check-box-container {
    display: block;
    padding-right: 35px;
    margin-right: 12px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
    padding-top: 12px;
    padding-bottom: 12px;
}

.checkbox-style {
    position: absolute;
    margin-left: 8px;
    height: 25px;
    width: 25px;
    background-color: #EEE;
    border-radius: 12px;
}

.check-box-container:hover input ~ .checkbox-style {
    background: #ccc;
}

.check-box-container input:checked ~ .checkbox-style {
    background-color: #2196F3;
}

.checkbox-style:after {
    content: "";
    position: absolute;
    display: none;
}

.check-box-container input:checked ~ .checkbox-style::after {
    display: block;
}

.check-box-container .checkbox-style:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.check-box-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.car-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-width: 4px;
    border: solid;
    margin-bottom: 8px;
    flex: 4;
}

.car-image {
    background-color: aquamarine;
    flex: 1;
}

.car-content {
    background-color: indianred;
    flex: 3.5;
}

.car-show {
    display: grid;
    overflow-wrap: break-word;
    grid-template-columns: inherit;
    grid-auto-rows: minmax(100px, auto);
    width: 95%;
    background-color: inherit;
}

.car-show-mobile {
    background-color: darkmagenta;
}

.card {
    display: flex;
    flex: 1;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 8px;
    text-align: center;
    font-family: Arial;
    background-color: cadetblue;
}

.card-content {
    background-color: darkred;
    flex: 1;
    padding-bottom: 4px;
}

.card-img {
    flex: 4;
    background-color: dimgray;
}